<mat-toolbar color="primary">
  <span>Student Index Gamifier</span>
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar_flex"></span>
  <span>Sign Out</span>
</mat-toolbar>
<mat-sidenav-container class="side-nav_container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/setup" class="a_selected">Setup</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- //TODO Multiple cards for Difference Indices -->
    <mat-card>
      <mat-card-title>
        Student Personality Index
      </mat-card-title>
      <mat-card-subtitle>
        Analyse the personality index of a student
      </mat-card-subtitle>
      <!-- //MULTIPLE LIST for different Sections -->
      <mat-list>
        <h2>Academic</h2>
        <!-- Multiple for different behaviours -->
        <mat-list-item>
          <h3>CGPA</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <h3>CGPA</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <mat-card-actions align="end">
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>