<mat-toolbar color="primary">
  <span>Student Index Gamifier</span>
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar_flex"></span>
  <a (click)="add()">Add</a>
</mat-toolbar>
<mat-sidenav-container class="side-nav_container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/setup" class="a_selected">Setup</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="indices && indices.length > 0">
      <mat-form-field class="width margin-search">
        <input matInput placeholder="Search indices" (keyup)="searchChanged($event)">
      </mat-form-field>
      <mat-card *ngFor="let index of indices | searchPipe: searchTerm">
        <mat-card-title>
          {{index.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{index.description}}
        </mat-card-subtitle>
        <mat-list *ngFor="let addedSection of index.addedSections | mapToIterable">
          <h4>{{addedSection.section.name}}
            <input [value]="addedSection.point" type="number" matInput placeholder="Points"
              style="float: right;width: 10%;color: #607d8b">
          </h4>
          <mat-list-item *ngFor="let addedBehaviour of addedSection.section.addedBehaviours | mapToIterable">
            <p>{{addedBehaviour.behaviour.name}} - {{addedBehaviour.point}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <mat-card-actions align="end">
          <button mat-button color="warn" (click)="deleteIndex(index.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="indices.length === 0">
      <p style="text-align:center">
        No indices to show
      </p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
