<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Index">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
      <mat-list>
        {{sections.length === 0 ? 'No sections to select': 'Sections'}}
        <div *ngFor="let section of sections">
          <mat-list-item>
            {{section.name}}
          </mat-list-item>
          <input type="number" matInput placeholder="Points" style="margin-left:16px">
        </div>
      </mat-list>
    </div>
    <button *ngIf="sections.length > 0" mat-button (click)="addIndex()" style="float:right;color:#607d8b">Add
      Index</button>
  </mat-tab>
  <mat-tab label="Section">
    <div class="form-container">
      <mat-form-field>
        <input [value]="sectionName" matInput placeholder="Name" (keyup)="sectionNameChanged($event)">
      </mat-form-field>
      <mat-list>
        {{(addedBehaviours | mapToIterable).length === 0 ? 'No behaviours to select': 'Behaviours'}}
        <div *ngFor="let addedBehaviour of addedBehaviours | mapToIterable">
          <mat-list-item>
            {{addedBehaviour.behaviour.name}}
          </mat-list-item>
          <input [value]="addedBehaviour.point" type="number" matInput placeholder="Points" (keyup)="behaviourPointChanged($event, addedBehaviour)"
            style="margin-left:16px">
        </div>
      </mat-list>
    </div>
    <button *ngIf="behaviours.length > 0" mat-button (click)="addSection()" style="float:right;color:#607d8b">Add
      Section</button>
  </mat-tab>
  <mat-tab label="Behaviour">
    <div class="form-container">
      <mat-form-field>
        <input [value]="behaviourName" matInput placeholder="Name" (keyup)="behaviourNameChanged($event)">
      </mat-form-field>
    </div>
    <button mat-button (click)="addBehaviour()" style="float:right;color:#607d8b">Add Behaviour</button>
  </mat-tab>
</mat-tab-group>